<div class="container">
  <!-- <div class="row"> -->
    <nav class="navbar row">
      <div class="navbar-brand two columns">
        <a href="/">Gary Lai</a>
      </div>
      <div class="navbar-menu ten columns">
        {% for item in site.navigation %}
          {% assign class = nil %}
          {% if page.url == item.url %}
            {% assign class = 'nav-current' %}
          {% endif %}
          <a href="{{ item.url }}" class="navbar-item m-pull-right {{ class }}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </div>
  <!-- </div> -->
</nav>