<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="Emory, Computer Science, Gary Lai, Machine Learning, Natural Language Processing">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.css">
  <link rel="stylesheet" media="all" href="https://cdn.rawgit.com/imgarylai/text/master/assets/css/application.css">
  <link rel="stylesheet" media="all" href="{{ site.url }}{% asset_path application.css %}">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/font/han.woff' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/font/han.otf' rel='stylesheet' type='text/css'>

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{% asset_path og-image.jpg %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}{% asset_path og-image.jpg %}">

  <link rel="apple-touch-icon" href="{{ site.url }}{% asset_path apple-touch-icon.png %}">

  <script
  src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
  data-apikey="0685f84096c6b3669dee5be3fda88c23"></script>

</head>
