<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="Emory, Computer Science, Gary Lai, Machine Learning, Natural Language Processing">
  <link rel="canonical" href="{{ site.url }}">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{% asset og-image.jpg @path %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}{% asset og-image.jpg @path %}">

  <link rel="apple-touch-icon" href="{{ site.url }}{% asset apple-touch-icon.png @path %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{% asset apple-touch-icon.png @path %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{% asset favicon-32x32.png @path %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{% asset favicon-16x16.png @path %}">
  <link rel="manifest" href="{{ site.url }}{% asset site.webmanifest @path %}">
  <link rel="mask-icon" href="{{ site.url }}{% asset safari-pinned-tab.svg @path %}" color="#942b4c">
  <meta name="msapplication-TileColor" content="#942b4c">
  <meta name="theme-color" content="#ffffff">

  {% asset application.css %}
</head>
