<script type="text/javascript" src="{{ site.url }}{% asset_path vendor.js %}"></script>
<script type="text/javascript" src="{{ site.url }}{% asset_path application.js %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/imgarylai/text/f9d39d54/assets/js/highlightjs-line-numbers.min.js" ></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pangu/3.3.0/pangu.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github.min.css">

{% if site.ga_analytics %}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}
