<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
  <![endif]-->
  <div class="container">
    {{ content }}
  </div>

  <footer class="center">
    <p class="small"><a href="https://blog.gary-lai.com">Gary Lai</a> © 2017 | Theme - <a href="https://github.com/imgarylai/text" target="_blank">text</a></p>

  </footer>

  {% include javascripts.html %}
</body>
</html>
